.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-image: url("https://source.unsplash.com/esRJtEsvJhU");
  background-repeat: no-repeat;
  background-position: right 80%;
  background-size: cover;
  padding: 30px;
}

.banner button {
  background-color: #e8eaed;
  color: #0f0f11;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

section {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

@media only screen and (max-width: 700px) {
  section {
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 500px) {
  section {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
}

.splash_div {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash_photo_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://source.unsplash.com/esRJtEsvJhU");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw 60vh;
  width: 100vw;
  height: 60vh;
}
.splash_text_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8eaed;
  border-radius: 70px;
  width: 50vw;
  height: 25vh;
  padding: 20px 40px;
}
.splash_photo_div h1 {
  margin-bottom: 20px;
}

#card_link:hover {
  z-index: 0;
  text-decoration: none;
}

.server_rotate_div {
  background-color: #e8eaed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 0 30px;
  margin: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 270px;
  background-color: #a53b17;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px 10px;
}

.card button {
  background-color: #c26b02;
}

.card button:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.card_img_container {
  width: 100%;
  padding-top: 70%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_img_container img {
  width: 100%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_content {
  padding: 20px;
}

.card_title {
  margin-bottom: 10px;
}

.tutorial-modal {
  position: fixed;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 450px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  z-index: 1;
}

.exit {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  color: black;
  padding: 3px;
}

.exit:hover {
  transform: translate(0, -2px);
}

.tutorial-text {
  margin: 5px 5px;
}

.darken {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
  opacity: 0.8;
  z-index: 0;
}

.modal-body {
  display: flex;
  height: 84%;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
