.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-image: url("https://source.unsplash.com/esRJtEsvJhU");
  background-repeat: no-repeat;
  background-position: right 80%;
  background-size: cover;
  padding: 30px;
}

.banner button {
  background-color: #e8eaed;
  color: #0f0f11;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-end: span 4;
}

.card button {
  background-color: #c26b02;
  transform: translateY(10px);
}

.card button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.card a {
  width: 100%;
  background-color: #a53b17;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card_img_container {
  width: 100%;
  padding-top: 70%;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_img_container img {
  width: 100%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_content {
  padding: 20px;
}

.card_title {
  margin-bottom: 10px;
  text-align: center;
}

#svrs_memberships_list .servers_list_div {
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 7vw;
  min-height: fit-content;
  border-bottom: 2px solid #a53b17;
  border-top: 2px solid #a53b17;
  overflow-x: scroll;
  overflow-y: hidden;
}

#svrs_memberships_list .servers_list_div #join_svrs,
#svrs_memberships_list .servers_list_div #new_svr {
  display: none;
}

main.grid {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card a:hover {
  transform: translateY(-7px);
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main.grid {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main.grid {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}
