.msg_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 60vw;
  height: 100vh;
}
.messages-container {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
