nav {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  background-color: #dea406;
  width: 100vw;
  height: 60px;
  padding: 0 2vw;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo_div {
  width: 20vw;
}

#logo {
  font-size: 50px;
}

.nav_links {
  display: flex;
  justify-content: space-between;
}

.nav_links#noauth {
  width: 15vw;
}
.nav_links#auth {
  width: 50vw;
}

.nav_links li {
  list-style: none;
}

.auth_nav_div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth_nav_div#noauth {
  width: 40vw;
}

.auth_nav_div li,
.auth_nav_div div li {
  list-style: none;
}
.auth_user_info {
  display: flex;
  align-items: center;
  background-color: #e8eaed;
  padding: 4px 10px;
  border-radius: 20px;
  margin-left: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.auth_user_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 59, 23);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.auth_user_icon img {
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.auth_nav_div {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.auth_nav_div p {
  margin-right: 4%;
}

#menu,
.dropdown {
  display: none;
}

.dropdown li i,
.nav_links li i {
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .nav_links {
    width: 45vw;
  }

  .nav_links li a {
    font-size: 25px;
  }

  .nav_links li a i {
    font-size: 25px;
  }

  #logo {
    font-size: 40px;
  }
}

@media only screen and (max-width: 900px) {
  .nav_links {
    width: 55vw;
  }

  .nav_links li a {
    font-size: 22px;
  }

  .nav_links li a i {
    font-size: 22px;
  }
  .logo_div {
    width: 10vw;
  }
  #logo {
    font-size: 30px;
  }
}

@media only screen and (max-width: 815px) {
  .auth_nav_div,
  .nav_links {
    display: none;
  }

  #menu_on_dropdown {
    align-self: flex-end;
    margin-right: 15px;
    margin-top: 13px;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 40vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(222, 164, 6, 0.95);
    z-index: 1;
  }

  .dropdown li {
    list-style: none;
  }

  #user_indo_dropdown {
    margin: 0;
  }

  #menu {
    display: block;
  }

  #dropdown_gh {
    margin-bottom: 20vh;
  }
}
