.new_channel_div form {
  background-color: #b4c3d1;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 8px 0 8px 0;
}

.new_channel_div form .errors {
  box-shadow: none;
}
